<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookHub</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style2.css">
    <!-- <script>
        alert("Hello Class")
    </script> -->
    
</head>
<body>
    <!-- Header Section -->
    <div id="header">
        <h1>BookHub</h1>
        <!-- <h2>BookHub</h2>
        <h3>BookHub</h3>
        <h4>BookHub</h4>
        <h5>BookHub</h5>
        <h6>BookHub</h6> -->
        <p>Track, Review, and Share Your Reading Journey</p>
    </div>
    
    </body>
</html>