<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd">
       
      <util:constant static-field="java.lang.System.in" id="systemIn" />
      
      <bean id="scanner" class="java.util.Scanner">
      	<constructor-arg ref="systemIn"/>
      </bean>
      
      <bean id="bookRepository" class="com.evaitcsmatt.bookhub.shared.repository.BookRepository" />
      
      <bean id="bookManager" class="com.evaitcsmatt.bookhub.shared.managers.BookManager">
      	<constructor-arg ref="bookRepository"/>
      </bean>
      
      <bean id="consoleUI" class="com.evaitcsmatt.bookhub.shared.ui.BookHubConsole">
      	<constructor-arg index="0" ref="bookManager"/>
      	<constructor-arg index="1" ref="scanner" />
      </bean>
</beans>